<div class="navbar">
  Header
</div>
<div class="sidebar">
  <h3>Menú</h3>
  <ul>
    <li><a (click)="appToShow = 'HOME'">Home</a></li>
    <li><a (click)="appToShow = 'CREDITOS'">Créditos</a></li>
    <li><a (click)="appToShow = 'TRANSACCIONES'">Transacciones</a></li>
  </ul>
</div>
<div class="container-view">
  <app-home *ngIf="appToShow === 'HOME'"></app-home>
  <app-creditos *ngIf="appToShow === 'CREDITOS'"></app-creditos>
  <app-transacciones *ngIf="appToShow === 'TRANSACCIONES'"> </app-transacciones>
</div>
<div class="footer">
  footer
</div>
